<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="">NOLA Notify (NONO)</a>
    <%= link_to image_tag("twitter-bird-dark-bgs.png"), "https://twitter.com/NOLAnotify", :class => "brand-small pull-right" %>
  </div>
</div>