<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Notice</th>
    </tr>
  </thead>
  <tbody>
    <% for entry in FeedEntry.all(:limit => 100, :order => "published_at desc") %>  <tr>
        <td><%= entry.published_at.getlocal.strftime("%B %d, %Y | %I:%M %p") %></td>
  	    <td>
          <strong><%= link_to h(entry.name), entry.url %></strong>
          <%= entry.summary %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>