<form class='form_subscribe' action="/members/unsubscribe" method="post" for="[:member]">
	<input class='input-block-level' type='text' placeholder="1234567891" id='member_number' name='member[number]' for="member_number">
	<button type="submit" class="btn btn-warning btn-large btn-block">Unsubscribe</button>
</form>