<ul class="nav nav-pills">
  <li class="active">
    <a href="#subscribe" data-toggle="tab">Subscribe</a>
  </li>
  <li><a href="#unsubscribe" data-toggle="tab">Unsubscribe</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="subscribe">
    <%= render :partial => 'form' %>
  </div> <!--/.TAB1 -->
  <div class="tab-pane team" id="unsubscribe">
    <%= render :partial => 'unsubscribe' %>
  </div><!--/.TAB2 -->
</div><!--/.tab-content -->
<hr>